* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5em;
    color: #373940;
    text-align: left;
}

.prf_container {
    padding: 15px;
    width: 50%;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.prf-btn-toolbar .prf-btn {
    margin: 0 7px;
}

.prf-divider {
    width: 100%;
    border-bottom: 1px solid grey;
}

.modal {
    width: 500px;
    height: 300px;
    text-align: center;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 33%;
    margin-left: -250px;
    background-color: #ffffff;
    border-radius: 7px;
    margin-top: -150px;
}

.modal-message {
    margin-top: 50px;
    margin-bottom: 20px;
}

.modal-message pre {
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    border: 1px solid;
    text-align: left;
}

.filter-active:before {
    content: "";
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #817b7b;
    opacity: 0.65;
}

.prf_subinfo {
    margin-bottom: 20px;
}

.radio-item {
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
}

.radio-item label {
    margin-right: 3px;
}
