
.prf_form-item {
    margin: 10px 0;
}

.prf_form-item .prf-label {
    font-weight: bold;
}

.prf_text--danger {
    color: #e6325a;
}

.prf_input{
    padding: 4px 2px 4px 8px;
    border: 1px solid lightgray;
    border-radius: 6px;
    min-height: 3em;
}


.prf-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5em 1.75em;
    font-size: 1.2em;
    line-height: 1.25em;
    border-radius: .35em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.prf-btn--primary {
    color: #fff;
    background-color: #0073be;
    border-color: #0073be;
    box-shadow: none;
}
