.prf_icon-erreur:before{
    content:"\00021";
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    border-radius: .25em;
    background-color: #e6325a;
    color: #fff;
}


