.prf_select {
    min-width: 150px;
    display: inline-block;
    height: calc(2.75em + 2px);
    padding: .75em 2.25em .75em 8px;
    min-height: 3em;
    line-height: 1.25em;
    color: #373940;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 1.25em center;
    background-size: 8px 10px;
    border: 1px solid #c1c1c1;
    border-radius: .35em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}